<section id="main">
  <header id="header">
    <h1>Markdown Editor</h1>
  </header>
  
  <div id="sidebar">
    <dl id="documents">
      <dt>
        Documents
        <span class="icon create">⊕</span>
      </dt>
    </ul>
  </div>
  
  <div id="document">
    <textarea id="editor"></textarea>
    <div id="preview"></div>
  </div>
</section>

<!--script>
Documents.reset(<%#= raw Document.all.to_json %>);
</script-->
